*~
*.class
*.o
lib/c/liblabcomm.a
lib/c/liblabcomm.so
lib/c/liblabcomm.so.1
lib/c/liblabcomm2006.so.1
lib/c/liblabcomm2006.so
lib/c/liblabcomm2006.a
lib/c/liblabcomm2014.so.1
lib/c/liblabcomm2014.so
lib/c/liblabcomm2014.a
lib/c/20*/test/test_labcomm
lib/c/20*/test/test_labcomm_basic_type_encoding
lib/c/20*/test/test_labcomm_copy
lib/c/20*/test/test_labcomm_generated_encoding
lib/c/20*/test/test_labcomm_pthread_scheduler
lib/c/20*/test/test_signature_numbers
compiler/gen/
compiler/AST/
compiler/labcomm_compiler.jar
compiler/labcomm2006_compiler.jar
compiler/labcomm2014_compiler.jar
examples/simple/encoded_data
examples/simple/encoded_data06
examples/simple/gen
examples/simple/gen06
*.pyc
examples/twoway/gen/
examples/duck_typing/gen/
lib/csharp/labcomm.dll
lib/java/gen/
lib/java/labcomm*.jar
examples/simple/example_decoder
examples/simple/example_decoder06
examples/simple/example_encoder
examples/simple/example_encoder06
ExampleDecoder.exe ExampleEncoder.exe
examples/user_types/gen/
examples/user_types/encoded_data_c 
examples/user_types/encoded_data_cs 
examples/user_types/encoded_data_j 
examples/user_types/encoded_data_p
examples/wiki_example/data.java
examples/wiki_example/example.c
examples/wiki_example/example.cs
examples/wiki_example/example.encoded
examples/wiki_example/example.h
examples/wiki_example/example.py
examples/wiki_example/log_message.java
examples/wiki_example/example_encoder
examples/user_types/ExampleDecoder.exe
examples/user_types/ExampleEncoder.exe
doc/tech_report.aux
doc/tech_report.blg
doc/tech_report.bbl
doc/tech_report.log
doc/tech_report.pdf
doc/tech_report.fdb_latexmk
examples/user_types/encoded_data_c
examples/user_types/encoded_data_j
examples/user_types/example_decoder
examples/user_types/example_encoder
doc/tech_report.fls
examples/dynamic/encoded_data
examples/dynamic/gen
